@use '../variables'

#portfolio 
  position: relative
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  gap: 3rem
  padding: 10px


h1 

  overflow: hidden
  white-space: nowrap
  border-right: 3px solid transparent
  font-size: 60px
  font-weight: 600
  font-family: 'Allura', cursive
  color: #fdfcfc
  animation: typing 5s steps(18, end) infinite, blink-caret 0.75s step-end infinite
  top: 50%
  left: 50%
  

@keyframes typing 
  0% 
    width: 0
  
  100% 
    width: 450px
  
  50% 
    width: 0
  
@keyframes blink-caret 
  
  to 
    border-color: transparent
  
  15% 
    border-color: white
  

  
