@use '../variables'

#portfolio 
  position: relative
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  gap: 3rem
  padding: 10px

  h1
        width: 100%
        display: block
        color: variables.$text-color
        font-family: "Protest Riot", sans-serif
        font-weight: 400
        font-style: normal
        font-size: 5rem
        margin-bottom: 4rem
        background: variables.$gradient
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent